@media (max-width:1000px) {
    .footList{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }

    .footItem{
        margin-right:30px;
    }

    .footItem:last-child{
        margin-right:0px;
    }

    .wrapperFooter{
        padding-bottom:20px;
        width: auto;
    }

    .logoFooter{
        width: 100%;
    }

    .follow, .sosmed{
        display:none;
    }
}

@media (max-width:670px){
    .wrapperFooter{
        display: none;
    }

    .follow, .sosmed{
        display:none;
    }

    .logoFooter{
        width: 100%;
    }
}